<a href="https://colab.research.google.com/github/DalthonMike/projeto-integrador/blob/main/Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) CARREGAR A BASE DE DADOS

In [7]:
import numpy as np
import pandas as pd
base = pd.read_csv('cmc.data')
base.describe()

,24,2,3,3.1,1,1.1,2.1,3.2,0,1.2
count,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000
mean,32.544158,2.959239,3.430027,3.261549,0.850543,0.749321,2.137908,3.133832,0.074049,1.920516
std,8.227027,1.015031,0.816549,2.359341,0.356659,0.433552,0.865144,0.976486,0.261939,0.876345
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,26.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,32.000000,3.000000,4.000000,3.000000,1.000000,1.000000,2.000000,3.000000,0.000000,2.000000
75%,39.000000,4.000000,4.000000,4.250000,1.000000,1.000000,3.000000,4.000000,0.000000,3.000000
max,49.000000,4.000000,4.000000,16.000000,1.000000,1.000000,4.000000,4.000000,1.000000,3.000000

2) DIVIDIR: PREVISORES E CLASSE

In [13]:
previsores= base.iloc[:,0:10].values
classe = base.iloc[:,8].values
previsores[:,0]

array([45, 43, 42, ..., 39, 33, 17])

3) PRE-PROCESSAMENTO

In [16]:
from sklearn.preprocessing import LabelEncoder
labeliesb = LabelEncoder()
previsores[:,0] = labeliesb.fit_transform(previsores[:,0])
previsores[:,1] = labeliesb.fit_transform(previsores[:,1])
previsores[:,2] = labeliesb.fit_transform(previsores[:,2])
previsores[:,3] = labeliesb.fit_transform(previsores[:,3]) 
previsores[:,4] = labeliesb.fit_transform(previsores[:,4])
previsores[:,5] = labeliesb.fit_transform(previsores[:,5])
previsores[:,6] = labeliesb.fit_transform(previsores[:,6])
previsores[:,7] = labeliesb.fit_transform(previsores[:,7])
previsores[:,8] = labeliesb.fit_transform(previsores[:,8])
previsores[:,9] = labeliesb.fit_transform(previsores[:,9])
classe = labeliesb.fit_transform(classe)
previsores

array([[29,  0,  2, ...,  3,  0,  0],
       [27,  1,  2, ...,  3,  0,  0],
       [26,  2,  1, ...,  2,  0,  0],
       ...,
       [23,  2,  2, ...,  3,  0,  2],
       [17,  2,  2, ...,  1,  0,  2],
       [ 1,  2,  2, ...,  3,  0,  2]])

4) DIVIDIR DADOS DE TREINAMENTO E CLASSE

In [20]:
from sklearn.model_selection import train_test_split
previsor_treinamento, previsor_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size = 0.25, random_state = 0)
classe_treinamento.size

1104

5) SALVAR NO ARQUIVO *.pkl

In [21]:
import pickle
with open('cmciesb.pkl', mode = 'wb') as f:
  pickle.dump([previsor_treinamento, previsor_teste, classe_treinamento, classe_teste])

TypeError: ignored